th{
    font-size: 10px;
}
tr{
    font-size: 8.5px;
}

div#example_length {
    font-size: 10px;
}

label {
    margin: 0;
    font-size: 10px;
    display: block;
}
div#example_info {
    font-size: 10px;
    margin-left: 5px;
}